#homepage{
	background-size: cover;
	background-color: #00C9C9;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#aboutpage{
	background-size: cover;
	background-color: #000053;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

#projectpage{
	background-size: cover;
	background-color: #1CA1A6;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#contactpage{
	background-size: cover;
	background-color: silver;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#footerdiv{
	width: auto;
	height: 6rem;
	text-align: center;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#icondiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: -3rem;
}

.icons{
	width: 3rem;
	height: auto;
	margin-right: 1rem;
}

.icons:hover{
	transform: scale(1.1);
}

.topdiv > h1{
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	margin-top: 3rem;
	color: black;
	text-shadow: 1px 1px white;
}

.carddiv{
	display: flex;
	flex-direction: row;
}

.projectcard{
	width: auto;
	height: 25rem;
	margin: 2rem;
}

#phone{
	filter: blur(3px);
}

#phone:hover{
	filter: none;
}

#contacttron{
	padding: 4rem;
}

#infotron{
	width: 70%;
	height: 33rem;
	margin-top: 6rem;
	margin-bottom: 6rem;
	font-size: 1.4rem;
	text-align: left;
	background-image: linear-gradient(to bottom right, white, skyblue);
}

#infotron > p{
	margin-top: 1.3rem;
}

#infotron > h1{
	margin-top: -5rem;
}

.flexdiv{
	display: flex;
	flex-direction: column;
}

.flexdivrow{
	display: flex;
	flex-direction: row;
}

.aboutimg{
	width: 12rem;
	height: 6.6rem;
	z-index: 100;
}

.custombreak{
	margin-top: 3.5rem;
}

.pagecut{
	width: 100%;
	height: auto;
}

.headerdiv{
	font-size: 4rem;
	text-shadow: 1px 1px lightgrey;
	color: black;
	height: auto;
	z-index: 100;
}

.headerdiv > h1{
	font-weight: bold;
	padding: 0.5em;
}

.headerdiv > h2{
	font-weight: 480;
	padding: 0.5em;
}

#about {
  border: none;
  color: black;
  background-color: limegreen;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  width: 100px;
  text-shadow: none;
  margin-top: -5rem;
}

#about:hover{
	transform: scale(1.2)
}

#buttonline{
	background-color: limegreen;
	width: 100px;
	margin-top: 3rem;
}

@media only screen and (max-height: 700px) {
	.pagecut{
		width: 100%;
		height: 12.5rem;
	}
	.headerdiv{
		font-size: 4rem;
		text-shadow: 1px 1px lightgrey;
		margin-top: -3.5rem;
		margin-bottom: 3.5rem;
		height: 18rem;
	}
}

@media only screen and (min-height: 700px){
	.pagecut{
		width: 100%;
		height: 15rem;
	}
	.headerdiv{
		font-size: 4rem;
		text-shadow: 1px 1px lightgrey;
		margin-top: -3.5rem;
		margin-bottom: 3.5;
		height: 22rem;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
	#infotron{
	font-size: 1.4rem;
	}
	.aboutimg{
		width: 12rem;
	}
}

@media only screen and (max-width: 600px) and (min-width: 400px){
	#infotron{
	font-size: 1.1rem;
	}
	.aboutimg{
		width: 10rem;
	}
}

@media only screen and (max-width: 400px){
	#infotron{
		font-size: 0.8rem;
	}
	.aboutimg{
		width: 9rem;
	}
	.carddiv{
		flex-direction: column;
	}
}
